{% extends "layout.twig" %}

{% block content %}
    <form action="{{ root }}/expressions/new/{{ id }}" class="half" method="post">
        {% include "expressions/form_expression.twig" %}
    </form>
{% endblock %}