<div class="modal" id="delete-modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>

        <p>Êtes-vous sûr(e) ?</p>

        <button class="btn-delete"></button>
    </div>
</div>