<div class="modal" id="delete-modal">
    <div class="modal-content">
        <span class="modal-close" id="close-btn">&times;</span>

        <h3>Êtes-vous sûr(e) ?</h3>

        <button class="btn-danger" id="confirm-btn">Confirmer</button>
    </div>
</div>