{# Success Messages #}

{% if session.success %}
    <div class="w3-panel w3-pale-blue w3-display-container w3-border">
        <span class="w3-button w3-large w3-display-topright" onclick="this.parentElement.style.display='none';">&times;</span>
        
        <p>{{ session.success }}</p>
    </div>
{% endif %}

{# Error Messages #}

{% if session.alert %}
    <div class="w3-panel w3-pale-red w3-display-container w3-border">
        <span class="w3-button w3-large w3-display-topright" onclick="this.parentElement.style.display='none';">&times;</span>
        
        <p>{{ session.alert }}</p>
    </div>
{% endif %}