{# Success Messages #}

{% if session.success %}
    <div class="flash-success" id="flash-success">
        <span class="btn-close" onclick="closeMessage('flash-success')">&times;</span>
        
        <p>{{ session.success }}</p>
    </div>
{% endif %}

{# Error Messages #}

{% if session.alert %}
    <div class="flash-error" id="flash-error">
        <span class="btn-close" onclick="closeMessage('flash-error');">&times;</span>
        
        <p>{{ session.alert }}</p>
    </div>
{% endif %}