{# Liens hypertexte #}

{% macro hypertext(page, content) %}
    <a class="w3-text-blue" href="{{ root }}/"></a>
{% endmacro %}

{# Page d'accueil #}

{% macro home() %}
    <a class="w3-text-blue" href="{{ root }}/">page d'accueil</a>
{% endmacro %}

{# Thèmes #}

{% macro show(id, title) %}
    <a class="w3-text-blue" href="themes/show/{{ id }}">{{ title }}</a>
{% endmacro %}