{% extends "layout.twig" %}

{% block title %}Présentation{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ public }}/css/slides.css">
{% endblock %}

{% block content %}
    <div class="w3-content">
        {% include "slides/1-page-garde.twig" %}
        {% include "slides/2-intro.twig" %}
        {% include "slides/3-presentation.twig" %}
        {% include "slides/4-cahier-charges.twig" %}
        {% include "slides/5-outils.twig" %}
        {% include "slides/6-mcd.twig" %}
        {% include "slides/7-mvc.twig" %}
        {% include "slides/8-architecture.twig" %}
        {% include "slides/9-framework.twig" %}
        {% include "slides/10-integration.twig" %}
        {% include "slides/11-demo.twig" %}
        {% include "slides/12-ameliorations.twig" %}
        {% include "slides/13-fin.twig" %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ public }}/js/slides.js"></script>
{% endblock %}