{% extends "layout.twig" %}

{% block title %}Tests{% endblock %}

{% block content %}

<h2>Ceci est une page de tests.</h2>

<form action="#" class="w3-container w3-half" method="post">
    <button class="w3-btn w3-blue">Tester la session (messages flash)</button>
</form>
{% endblock %}