/* Cartes (Accueil / Stats) */

.w3-card {
    text-align: center;
}

/* Couleurs */

#themes {
    background-color: rgba(37, 102, 28, 0.5);
}

#themes:hover {
    background-color: rgba(37, 102, 28, 0.8);
}

#expressions {
    background-color: rgba(0, 0, 128, 0.5);
}

#expressions:hover {
    background-color: rgba(0, 0, 128, 0.8);
}

#users {
    background-color: rgba(255, 166, 0, 0.5);
}

#users:hover {
    background-color: rgba(255, 166, 0, 0.8);
}