/* General */

// Elements

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: table;
    width: 100%;
}

main {
    max-width: 80%;
    margin: auto;

    @include container;
}

footer {
    //position: fixed;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    display: table-row;
    height: 50px;

    @include container;
    @include center;
    @include colors("blue");
}

a {
    text-decoration: none;
    color: $blue;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

img {
    vertical-align: middle;
}

// Classes

.container {
    padding: 0.01em 16px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.center {
    text-align: center;
}