.slides {
    min-width: 800px;
    min-height: 400px;
}

.background {
    opacity: 0.25;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.picture {
    width: 100%;
}