body {
    font-family: "Lato", sans-serif;
}

main {
    width: 80%;
}

a {
    text-decoration: none;
}

/* Navigation Bar */

.nav-brand {
    font-weight: bold;
}

.nav-links {
    float: right;
}