{% extends "layout.twig" %}

{% block content %}
    <h3>Suppression du thème : {{ title }}</h3>

    <form action="{{ root }}/themes/delete/1" class="w3-container" method="post">
        <h3>Voulez-vous supprimer ce thème ?</h3>

        <input type="hidden" name="token" value="{{ token }}">

        <button class="w3-btn w3-margin-bottom w3-red">Confirmer</button>
    </form>
{% endblock %}