<div id="deleteTheme" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width: 500px;">
        <div class="w3-center">
            <div class="w3-container">
                <span onclick="closeModal('deleteTheme');" class="w3-button w3-display-topright">&times;</span>

                <h2>Suppression du thème : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem officia iure asperiores quisquam minus ullam a dolores voluptatibus, dolore sint! {{ title }}</h2>

                {% if 1 %}
                    <form action="{{ root }}/themes/delete/1" class="w3-container" method="post">
                        <h3>Voulez-vous supprimer ce thème ?</h3>

                        <input type="hidden" name="token" value="{{ token }}">

                        <button class="w3-btn w3-margin-bottom w3-red">Confirmer</button>
                    </form>
                {% else %}
                    <p>Vous n'êtes pas autorisé(e) à supprimer ce thème.</p>

                    <p>Veuillez revenir à la <a class="w3-text-blue" href="{{ root }}/themes">liste des thèmes</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>