{% extends "layout.twig" %}

{% block title %}Edition du thème : {{ title }}{% endblock %}

{% block content %}
    <form action="{{ root }}/themes/edit/{{ id }}" class="third" method="post">
        {% include "themes/form_theme.twig" %}
    </form>
{% endblock %}