{% extends "layout.twig" %}

{% block content %}
    <h2>{{ pageTitle }}</h2>

    <form action="{{ root }}/themes/new" class="third" method="post">
        {% include "themes/form_theme.twig" %}
    </form>
{% endblock %}