<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Présentation du projet</h2>
    </div>

    <div class="w3-container w3-margin">
        <ul class="w3-ul w3-xlarge">
            <li>Base de vocabulaire en anglais (thèmes et expressions)</li>
            <li>Transcription phonétique pour les francophones</li>
            <li>Aspect communautaire</li>
            <li>Gestion de rôles</li>
            <li>Jeu et contributions</li>
            <li>Inspiré de Memrise</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>