<!-- 1 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Cahier des charges</h2>
    </div>

    <div class="w3-container w3-margin">
        <h3>1) Les règles de base</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>Navigation simple</li>
            <li>Norme RGPD</li>
            <li>Sécurité</li>
            <li>Communauté</li>
        </ul>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>

<!-- 2 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Cahier des charges</h2>
    </div>

    <div class="w3-container w3-margin">
        <h3>2) L'accueil</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>Nombre de thèmes</li>
            <li>Nombre d'utilisateurs</li>
            <li>Nombre d'expressions</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>

<!-- 3 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Cahier des charges</h2>
    </div>

    <div class="w3-container w3-margin">
        <h3>3) Les utilisateurs</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>Inscription et (dé)connexion</li>
            <li>Liste (Communauté)</li>
            <li>Rôles</li>
            <li>Edition et suppression</li>
            <li>Contributions</li>
            <li>Page de profil</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>

<!-- 4 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Cahier des charges</h2>
    </div>
    
    <div class="w3-container w3-margin">
        <h3>4) Les thèmes</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>Listes (vocabulaire)</li>
            <li>Ajout, édition et suppression</li>
            <li>Liés aux utilisateurs</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>

<!-- 5 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Cahier des charges</h2>
    </div>
    
    <div class="w3-container w3-margin">
        <h3>5) Les expressions</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>Listes (par thème)</li>
            <li>Ajout, édition et suppression</li>
            <li>Liés aux utilisateurs</li>
            <li>Jeu avec flashcards</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>