<!-- 1 -->

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Les outils</h2>
    </div>

    <div class="w3-container w3-margin">
        <h3>1) La conception</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>LucidChart</li>
            <li>VS Code</li>
            <li>Github</li>
            <li>XAMPServer</li>
            <li>PHPMyAdmin</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>

<!-- 2 -->

<div class="w3-container w3-display-middle w3-center w3-padding-64 w3-card-2 slides">
    <div class="w3-container w3-margin">
        <h2>Les outils</h2>
    </div>

    <div class="w3-container w3-margin">
        <h3>2) Le développement</h3>

        <div class="w3-container w3-margin-bottom"></div>

        <ul class="w3-ul w3-xlarge">
            <li>HTML / CSS</li>
            <li>JS</li>
            <li>W3.CSS</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Twig</li>
        </ul>
    </div>

    {% include "slides/buttons.twig" %}
</div>