
<img src="{{ public }}/img/bg-new-york.jpg" class="background" alt="background">


<h2>Le modèle MVC</h2>



<img class="picture" src="{{ public }}/img/resume-MVC.png" />


{% include "slides/buttons.twig" %}
