<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    <img src="{{ public }}/img/bg-new-york.jpg" class="background" alt="background">

    <div class="w3-container w3-margin">
        <h3>L'intégration de Twig</h3>
    </div>

    {% include "slides/buttons.twig" %}
</div>

<pre>
    &#123;% extends "layout.twig" %&#125;

    &#123;% block title %&#125;Edition du thème : &#123;&#123; title &#125;&#125;&#123;% endblock %&#125;

    &#123;% block content %&#125;
    <h3>Edition du thème : &#123;&#123; title &#125;&#125;</h3>

    <form action="&#123;&#123; root &#125;&#125;/themes/edit/&#123;&#123; id &#125;&#125;" class="w3-container w3-third" method="post">
        &#123;# Titre #&#125;

        <label for="title">Titre</label>
        <input type="text" name="title" id="title" value="&#123;&#123; title &#125;&#125;" class="w3-input w3-border w3-margin-bottom">

        <p class="w3-text-blue">&#123;&#123; tips.title &#125;&#125;</p>

        <p class="w3-text-red">&#123;&#123; errors.title &#125;&#125;</p>

        &#123;# Jeton CSRF #&#125;

        <input type="hidden" name="token" value="&#123;&#123; session.token &#125;&#125;">

        &#123;# Bouton d'édition #&#125;

        <button class="w3-btn w3-green">Editer</button>

        &#123;# Lien de retour #&#125;

        <p>
            <a class="w3-text-blue" href="&#123;&#123; root &#125;&#125;/themes/">&lt; Retour à la liste</a>
        </p>
    </form>
&#123;% endblock %&#125;
</pre>