{% macro title() %}
<img src="{{ public }}/img/bg-new-york.jpg" class="background" alt="background">

<div class="w3-container w3-margin">
    <h3>Pourquoi un framework personnel ?</h3>
</div>
{% endmacro %}

<div class="w3-container w3-display-middle w3-center w3-card-2 slides">
    {{ _self.title }}

    <div class="w3-container w3-margin">
        <div class="w3-container w3-margin-bottom"></div>

        <table class="w3-table w3-centered">
            <tr>
                <th>Avantages</th>
                <th>inconvénients</th>
            </tr>

            <tr>
                <td>une grande liberté</td>
                <td>un besoin de maîtrise</td>
            </tr>

            <tr>
                <td>une meilleure maîtrise</td>
                <td>limité à terme</td>
            </tr>
        </table>
    </div>
    
    {% include "slides/buttons.twig" %}
</div>