{% macro title() %}
<img src="{{ public }}/img/bg-new-york.jpg" class="background" alt="background">


Pourquoi un framework personnel ?

{% endmacro %}


{{ _self.title }}




<table class="w3-table w3-centered">

Avantages
inconvénients



une grande liberté
un besoin de maîtrise



une meilleure maîtrise
limité à terme

</table>


{% include "slides/buttons.twig" %}
