<div class="w3-center w3-margin">
    <div class="w3-button w3-display-left" onclick="nextSlide(-1)">&#10094;</div>
    <div class="w3-button w3-display-right" onclick="nextSlide(1)">&#10095;</div>
</div>