{% extends "layout.twig" %}

{% block content %}
    <h2>Suppression de l'utilisateur {{ username }}</h2>

    {% if 1 %}
        <form action="{{ root }}/users/delete/1" class="w3-container w3-third" method="post">
            <p>Voulez-vous supprimer cet utilisateur ?</p>

            <input type="hidden" name="token" value="{{ token }}">

            <button class="w3-btn w3-red">Confirmer</button>
        </form>
    {% else %}
        <p>Vous n'êtes pas autorisé(e) à supprimer cet utilisateur.</p>

        <p>Veuillez revenir sur la <a class="w3-text-blue" href="{{ root }}/">page d'accueil</a>.</p>
    {% endif %}
{% endblock %}