<div id="delete-modal" class="modal">
    <div class="modal-content">
        <span onclick="closeDeleteModal();" id="close" class="modal-close">&times;</span>

        <form action="#" id="delete-form" method="post">
            <h3>Voulez-vous supprimer cet utilisateur ?</h3>

            <p>Pseudo : <span id="delete-text"></span></p>

            <input type="hidden" id="delete-token" name="token" value="">

            <button type="submit" class="btn-danger m-bottom">Confirmer</button>
        </form>
    </div>
</div>