/* Mixins */

/*@mixin w3mobile {
    display: block;
    width: 100%;
}*/

/* W3.CSS Elements */

.w3-display-container {
    position: relative
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.w3-block {
    display: block;
    width: 100%
}

.w3-responsive {
    display: block;
    overflow-x: auto
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
    content: "";
    display: table;
    clear: both
}

/*
.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
    float: left;
    width: 100%
}

.w3-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}*/

.w3-show-block,
.w3-show {
    display: block
}

.w3-show-inline-block {
    display: inline-block
}

@media (max-width:1205px) {
    .w3-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto
    }

    .w3-modal {
        padding-top: 30px
    }

    .w3-mobile {
        display: block;
        width: 100%
    }

    .w3-bar-item.w3-mobile {
        text-align: center
    }
}

@media (max-width:768px) {
    .w3-modal-content {
        width: 500px
    }

    .w3-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .w3-modal-content {
        width: 900px
    }
}

@media (max-width:992px) {
    .w3-main {
        margin-left: 0;
        margin-right: 0
    }

    .w3-auto {
        max-width: 100%
    }
}

.w3-top,
.w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.w3-top {
    top: 0
}

.w3-bottom {
    bottom: 0
}

.w3-display-container:hover .w3-display-hover {
    display: block
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px
}

.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

// Float

.w3-button:hover {
    color: #000;
    background-color: #ccc
}

// Colors

.w3-blue,
.w3-hover-blue:hover {
    color: #fff;
    background-color: #2196F3;
}

.w3-green,
.w3-hover-green:hover {
    color: #fff;
    background-color: #4CAF50
}

.w3-red,
.w3-hover-red:hover {
    color: #fff;
    background-color: #f44336
}

.w3-white,
.w3-hover-white:hover {
    color: #000;
    background-color: #fff
}

.w3-black,
.w3-hover-black:hover {
    color: #fff;
    background-color: #000
}

.w3-pale-red,
.w3-hover-pale-red:hover {
    color: #000;
    background-color: #ffdddd
}

.w3-pale-blue,
.w3-hover-pale-blue:hover {
    color: #000;
    background-color: #ddffff
}

// Text Colors

.w3-text-blue,
.w3-hover-text-blue:hover {
    color: #2196F3
}

.w3-text-green,
.w3-hover-text-green:hover {
    color: #4CAF50
}

.w3-text-red,
.w3-hover-text-red:hover {
    color: #f44336
}

.w3-text-white,
.w3-hover-text-white:hover {
    color: #fff
}

.w3-text-black,
.w3-hover-text-black:hover {
    color: #000
}