/* Boutons */

.btn {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
}

/* Vert */

.success {
    background-color: #04AA6D;
}

.success:hover {
    background-color: #46a049;
}

/* Bleu */

.info {
    background-color: #2196F3;
}

.info:hover {
    background: #0b7dda;
}

/* Jaune */

.warning {
    background-color: #ff9800;
}

.warning:hover {
    background: #e68a00;
}

/* Rouge */

.danger {
    background-color: #f44336;
}

.danger:hover {
    background: #da190b;
}

/* Gris */

.default {
    background-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #ddd;
}