.btn-success {
    @include button;

    background-color: #04AA6D;

    &:hover {
        background-color: #46a049;
    }
}

.btn-info {
    @include button;

    background-color: #2196F3;

    &:hover {
        background: #0b7dda;
    }
}

.btn-warning {
    @include button;

    background-color: #ff9800;

    &:hover {
        background: #e68a00;
    }
}

.btn-danger {
    @include button;

    background-color: #f44336;

    &:hover {
        background: #da190b;
    }
}

.btn-default {
    @include button;
    
    background-color: #e7e7e7;
    color: black;

    &:hover {
        background: #ddd;
    }
}

.btn-close {
    @include button;
    @include position("topright");

    color: $black;
    font-size: 18px;

    &:hover {
        background-color: #ccc;
    }
}