{% import "macros/links.twig" as links %}

{% extends "layout.twig" %}

{% block title %}Confirmation du changement de mot de passe{% endblock %}

{% block content %}
    <h2>Confirmation du changement de mot de passe</h2>

    {% if 0 %}
        <p>Votre mot de passe a bien été changé.</p>

        <p>Vous pouvez à nouveau vous {{ links.hypertext("login", "connecter") }}.</p>
    {% else %}
        <p>Vous n'avez pas fait de demande de réinitialisation de mot de passe.</p>

        <p>Veuillez revenir à la {{ links.home }}.</p>
    {% endif %}
{% endblock %}